* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar
{
    padding: 16px 32px;
    height: 64px;
    background: #1F2937 ;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}

.link
{
    color: #E5E7EB;
    font-weight: 18px;
    text-decoration: none;
    margin: 5px;
}

.logo
{
    color: #E5E7EB;
    font-weight: bold;
    text-decoration: none;
}

.main
{
    background: #1F2937 ;
    color: #F9FAF8;
    height: 500px;
    display: flex;
    flex-direction: row wrap;
    justify-content:space-evenly;
    align-items: center;
}

.content {
    max-width: 40%;  
    color: #E5E7EB;
}

.content button
{
    background: #3882F6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}

.type
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 375px;
}

.type h1
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.cats
{
    display: flex;
    flex-direction: row wrap;
    margin-top: 45px;
    gap: 50px;
}

.cats img
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.content-cat
{
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center; 
}

.quote
{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    background: #E5E7EB;
    color: #1F2937;
    height: 300px;
    font-style: italic;
    line-height: 1.6;
    padding-left: 25px;
    font-size: 30px;
    border-left: 10px solid #1f2937;
    padding: 29px;
}

.big-sign
{
    background: #F9FAF8 ;
    height: 225px;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
}

.sign
{
    background: #3882F6;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 100px;
    color: #F9FAF8;
    padding: 30px;
    border-radius: 10px;
}

.sign button
{
    background: #3882F6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px;
    font-size: 16px;
    margin-top: 10px;
    color: #F9FAF8;
}

.footer
{
    background: #1F2937;
    height: 75px;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: rgba(249, 250, 248, 0.5); 
}  